@model PrimeiraWebApp.Models.Instituicao

<div class="card-block">
    <div class="card-header text-white bg-secondary text-center h1">
        Exibindo uma instituição existente
    </div>
    <div class="card-body">
        <label asp-for="InstituicaoID" class="control-label"></label></br>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="InstituicaoID" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Nome" class="control-label"></label></br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Nome" class="form-control" disabled="disabled" />
            </div>
            <label asp-for="Endereco" class="control-label"></label></br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-address-card-o" aria-hidden="true"></i>
                    </span>
                </div>
                <input asp-for="Endereco" class="form-control" disabled="disabled" />
            </div>
        </div>
    </div>
    <div class="card-footer bg-info text-center text-white">
        <form asp-action="Delete">
            <input type="hidden" asp-for="InstituicaoID" />
            <input type="submit" value="Delete" class="btn btn-light" /> |
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
